@media screen and (max-width: 599px) {  
    .inside-tab {
        display: none;
    }

    .outside-tab {
        display: flex;
    }

    body {
        padding-top: 110px !important;
    }

    .title-container {
        width: calc(100vw - 50px);
    }

    
    .content-container {
        width: calc(100vw - 50px) !important;
    }
}

@media screen and (min-width: 599px) {  
    .inside-tab {
        display: flex;
    }

    .outside-tab {
        display: none;
    }

    .title-container {
        width: 70vw;
    }
}
@media screen and (max-width: 1200px) { 

    #article-title {
        font-size: 36px;
    }

    .img-container {
        max-width: 100%;
    }

    .content-container {
        width: 60vw;
    }
}

@media screen and (min-width: 1200px) { 
    
    #article-title {
        font-size: 350%;
    }

    .img-container {
        max-width: 70%;
    }

    .content-container {
        width: 50vw;
    }
}

hr {
    background-color: #d7d7d7;
    height: 1px;
    border-width: 0;
}

.content-container > * {
    margin-bottom: 20px;
}

.content-container a {
    color: #2196f3;
    text-decoration: none;
}

.content-container a:hover {
    text-decoration: underline;
}

.content-container a:active {
    color: #1e87da;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1, h2, h3 {
    font-family: 'Raleway', 'Roboto', sans-serif;
}

h1 {
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px !important;
	line-height: 150%;
}

h2 {
    font-weight: 600;
	line-height: 140%;
}

h3 {
    font-weight: 700;
}

code {
    font-family: 'SF Mono', 'Menlo', 'Monaco', 'Consolas', 'Courier New', Courier, monospace;
    background-color: #fafafa;
}

.codeblock {
    padding: 5px 20px;
    background-color: #fafafa;
    border-radius: 2px;
}

blockquote {
    font-style: italic;
    color: #757575;
}

.logotext {
    font-weight: 600;
    color: #4285f4;

    cursor: default;
    margin-left: 40px;
}

.logosec {
    margin-left: 0px;
}

.raleway {
    font-family: 'Raleway', 'Roboto', sans-serif;
}

.title-container {
    margin: auto;
}

#article-title {
    font-weight: 500;
}

#article-label {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.label-title-spliter {
    height: 20px;
}

.spacer {
    height: 40px;
}

.spacers {
    height: 10px;
}

.spacerl {
    height: 50px;
}

#banner {
    max-width: 100%;
    margin: auto;
}

.img-container {
    margin: auto;
    overflow: hidden;
    max-height: 500px;
}

.content-container {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 155%;

    margin: auto;
}

.content-container img {
    max-width: 100%;
}

#author-name {
    font-weight: 600;
}

#publish-time {
    color: #757575;
    font-size: 0.75em;
}

.pure-table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}
 
.pure-table caption {
    color: #000;
    font: italic 85%/1 arial,sans-serif;
    padding: 1em 0;
    text-align: center;
}
 
.pure-table td,.pure-table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .5em 1em;
}
 
.pure-table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}
 
.pure-table td {
    background-color: transparent;
}
 
.pure-table-odd td {
    background-color: #f2f2f2;
}

